body {
	background: black !important;
}

.v-align {
	vertical-align: inherit !important;
}

div.modal-footer,
div.modal-body,
div.modal-header {
	background-color: #000000de;
	color: white;
}

.game-section {
	overflow: hidden;
}

.primary {
	color: #EDEAE0;
}

.boat,
.mauve {
	color: #231F20;
}

.error {
	color: red;
}

img.banner-header {
	border: solid;
	box-sizing: content-box;
	width: auto;
	height: 240px;
}

body {
	background: black !important;
}

.canvas {
	width: 600;
	height: 600;
	padding-top: 1rem;
}

.canvas-container {
	height: auto;
}

.tagscloud a,
.tag-cloud-canvas {
	text-transform: uppercase;
	display: inline-block;
	padding: 4px 10px;
	margin-bottom: 7px;
	margin-right: 10px;
	border-radius: 4px;
	color: #000;
	font-size: 15px;
	text-decoration: none;
	background-color: white;
	min-width: 100px;
	text-align: center;
}

.tag-cloud-canvas,
.tag-cloud-reset {
	margin-top: 10px;
	cursor: pointer;
}

.tag-cloud-canvas.active {
	color: #ffffff;
	background-color: brown;
}

. .tagscloud a:hover {
	text-decoration: none;
	color: #000;
}

h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: "Poppins", Arial, sans-serif;
	color: #ffffff !important;
	font-size: 1.25rem;
	text-transform: uppercase;
}

.tag-cloud-miss {
	border: 2px solid red;
}

.tag-cloud-hit {
	border: 2px solid green;
}

.game-status {
	min-height: 400px;
	height: 400px;
	width: 300px;
	border-color: 1px solid red;
}

.grid-box {
	width: 80px;
	height: 60px;
	background-color: white;
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	margin: 1px;
	text-align: center;
}

.grid-box .boat {
	padding-top: 4px;
}

.grid-container {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

.ship-container {
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 1px solid #ffffff;
	margin-top: 2px;
}

.ship-box {
	width: 80px;
	height: 60px;
	display: inline-block;
	vertical-align: top;
}

.game-section .boat {
	font-size: 50px;
}

.game-container {
	border: solid;
	box-sizing: content-box;
}

.hidden {
	display: none !important;
}

.shake {
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}
	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
